# --- For-Bot-Working --------- #
pyrogram 
TgCrypto 
pyromod==1.5

# --- For-Database ------------ #
pymongo 
dnspython 
motor  # Async driver for MongoDB

# --- For-Web-Response ------- #
aiohttp 

# --- Advance-Format --- #
pyrofork
